doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title About Me: The Handsome Developer
  body
    h1 About Me: The Handsome Developer Extraordinaire
    main
      p Howdy! I'm the dashing, debonair, and downright delightful developer who's here to add a touch of handsomeness to the coding world.
      p My code is a work of art, my debugging skills are unmatched, and my sense of humor is legendary. Let's create something extraordinary together and make the coding world even more handsome, one line of code at a time. ;)
      p Code like a supermodel, charm like a movie star, collaborate like a true team player - that's what I do best. Join me in this coding adventure, and together, we'll make the world a more handsome place!
      <div>
      img(src="/images/node-express.jpeg", alt="My Image", style="max-width: 200px; width: 100%; height: auto;")
      <div>
      p I am a charming, handsome person with all the good characteristics that define me.
    footer
      p Copyright © 2023 MyWebsite. All rights reserved.

